body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F6F1DE;
}
.container {
    display: flex;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.left-panel {
    flex: 1;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-image: url('chef.png');
    background-size: cover; /* Ensures it covers the whole container */
    background-position: center; /* Centers the image */
}
.right-panel {
    flex: 1;
    background: white;
    padding: 40px;
    text-align: center;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #C9B194;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background: #F5EEDC;
}
.error {
    color: red;
    margin-bottom: 10px;
}